version: "3.9"

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: always
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - /home/ubuntu/container-data/prometheus:/prometheus
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: always
    depends_on:
      - prometheus
      - influxdb
    ports:
      - "3000:3000"
    volumes:
      - /home/ubuntu/container-data/grafana:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: BenFra2020!!
      GF_USERS_ALLOW_SIGN_UP: "false"

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: always
    pid: host
    volumes:
      - /:/host:ro,rslave
    command:
      - "--path.rootfs=/host"

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    restart: always
    ports:
      - "8085:8085"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro

  glances:
    image: nicolargo/glances:latest
    container_name: glances
    restart: always
    ports:
      - "61028:61028"
    network_mode: host
    pid: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /:/rootfs:ro
    environment:
      - GLANCES_OPT=-w

  influxdb:
    image: influxdb:2.7
    container_name: influxdb
    restart: always
    ports:
      - "8086:8086"
    volumes:
      - /home/ubuntu/container-data/influxdb/data:/var/lib/influxdb2
      - /home/ubuntu/container-data/influxdb/config:/etc/influxdb2
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME: admin
      DOCKER_INFLUXDB_INIT_PASSWORD: BenFra2020!!
      DOCKER_INFLUXDB_INIT_ORG: brewery
      DOCKER_INFLUXDB_INIT_BUCKET: brewery
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: BenFra2020!!

  telegraf:
    image: telegraf:latest
    container_name: telegraf
    restart: always
    depends_on:
      - prometheus
      - influxdb
    ports:
      - "9273:9273"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro
      - /home/ubuntu/container-data/telegraf:/var/lib/telegraf
    environment:
      INFLUX_URL: http://influxdb:8086
      INFLUX_TOKEN: BenFra2020!!
      INFLUX_ORG: brewery
      INFLUX_BUCKET: brewery
